body{
  background: #000000;
}
.container_log{
  background: black;


}
.login{
  margin: 0 auto;
  width: 60%;
  background: black

}
.control{
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  border: 1px solid white;
  width: 40%;
  background: black;
}
.lab_text{
  color: white;
  text-transform: uppercase;
}

.btn_login{
  color: white;
  background: black;
  border: 1px solid #FF8A00;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  margin: 20px auto;
}
