<div class="container-fluid bg-black">
  <form style="width: 50%; margin: 0 auto">
    <div style="text-align: center; align-content: center; align-items: center">
      <div>
        <label style="color: white; text-transform: uppercase">ПІБ</label>
        <input type="text" style="border: 1px solid white; margin-left: 40px; width: 50%;
         background: #000; margin-top: 50px">
      </div>

      <div>
        <label style="color: white; text-transform: uppercase">ПІБ</label>
        <input type="text" style="border: 1px solid white; margin-left: 40px; width: 50%;
         background: #000; margin-top: 50px">
      </div>

      <div>
        <label style="color: white; text-transform: uppercase">ПІБ</label>
        <input type="text" style="border: 1px solid white; margin-left: 40px; width: 50%;
         background: #000; margin-top: 50px">
      </div>

      <div>
        <label style="color: white; text-transform: uppercase">ПІБ</label>
        <input type="text" style="border: 1px solid white; margin-left: 40px; width: 50%;
         background: #000; margin-top: 50px">
      </div>
    </div>
  </form>
</div>
